* text=auto
*.css linguist-vendored
*.scss linguist-vendored
*.js linguist-vendored
CHANGELOG.md export-ignore
/public/images/flags/** export-ignore

# make sure executable/build-control text has the right line endings
*.sh text eol=lf
*.patch text eol=lf
./tools/django_server/manage.py text eol=lf